p {
  cursor: default;
}

img {
  max-width: 100%;
  height: auto;
}

div {
  /*border: 2px solid black;*/
}

a:link {
  color: #400763;
  text-decoration: none;
}

a:hover{
  color: #fcce02 !important;
  text-decoration: none;
}

a:active{
  color: #fce702 !important;
  text-decoration: none;
}

a:visited{
  color: #400763;
  text-decoration: none;
}

.page:hover{
  color: #fcce02;
}

.page:active{
  color: #fce702;
}
